// Custom variables
// This file gets loaded before bootstrap/variables is loaded.

// Icon Font (actaully not used, as glyphicons are disabled).
$icon-font-path: '../../node_modules/font-awesome/fonts/';
$icon-font-name: 'fontawesome-webfont';

// Font Family
$font-family-sans-serif: "Fira Sans", "Helvetica Neue", Arial, sans-serif;

// Adjust font sizes to be like in BS4
$font-size-base:          16px;
$font-size-large:         18px;
$font-size-small:         14px;

$font-size-h1:            40px;
$font-size-h2:            32px;
$font-size-h3:            28px;
$font-size-h4:            24px;
$font-size-h5:            20px;
$font-size-h6:            $font-size-base;