@font-face{
    font-family: 'Fira Sans';
    src: url('woff2/firasans-ultralight-webfont.woff2') format('woff2'),
         url('woff/firasans-ultralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('woff2/firasans-ultralightitalic-webfont.woff2') format('woff2'),
         url('woff/firasans-ultralightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('woff2/firasans-light-webfont.woff2') format('woff2'),
         url('woff/firasans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('woff2/firasans-lightitalic-webfont.woff2') format('woff2'),
         url('woff/firasans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('woff2/firasans-regular-webfont.woff2') format('woff2'),
         url('woff/firasans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('woff2/firasans-italic-webfont.woff2') format('woff2'),
         url('woff/firasans-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('woff2/firasans-medium-webfont.woff2') format('woff2'),
         url('woff/firasans-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('woff2/firasans-mediumitalic-webfont.woff2') format('woff2'),
         url('woff/firasans-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('woff2/firasans-bold-webfont.woff2') format('woff2'),
         url('woff/firasans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('woff2/firasans-bolditalic-webfont.woff2') format('woff2'),
         url('woff/firasans-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
